.App {
  margin: 20px;
}

.h4 {
  text-align: center;
}

.btn {
  background: #fdf3f3;
  color: black;
}

.card-body {
  background: #fdf3f3;
}

.col .current-city {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: -10px;
}

i {
  font-size: 25px;
}

.units {
  font-size: 18px;
}

.temperature {
  font-size: 30px;
}

img {
  block-size: 40px;
}

.git {
  display: block;
  margin: 0 auto;
  text-align: center;
}
